@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

#__next {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url('/chartsign.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #3b82f6;
  color: white;
  font-family: 'Inter', sans-serif;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.logout-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.model-selection-box {
  background-color: rgba(253, 251, 251, 0.918);
  padding: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 20px;
  box-shadow: 20px 20px 40px -2px rgba(54, 54, 54, 0.2);
  width: 100%;
  max-width: 500px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: black; /* Ensure the text is visible */
  }
  

input, select {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    border: 1px solid #d6e0ec;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

select {
  background-color: white;
}

select:disabled {
  background-color: #f3f4f6;
}

button {
    width: 50%;
    padding: 0.75rem;
    background-color: #3b82f6;
    color: white;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }

button:hover {
  background-color: #2563eb;
}

@media (max-width: 640px) {
  .model-selection-box {
    padding: 1.5rem;
  }
}